@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #16181D;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

h2 {
  font-size: 1.2em;
}

button {
  cursor: pointer;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1em;
  }
}
